
    <style>

        img {
          margin-left: auto;
          margin-right: auto;
          display: block;
}

    </style>

<div class="row" style="margin-bottom:15px">

   
    <div class="col-2">
        {{error}}
        <img src="{{user.avatar_url}}" style="width:70px;height:70px;" />
    </div>

    <div class="col-3">

       <h2>{{user.name}}</h2>
    </div>

    <div class="col-2"><strong>Location:</strong> {{user.location}}</div>


    <div class="col-2">
        Sort By:
        <select ng-model="repoSortOrder">
            <option value="+name">Name</option>
            <option value="-stargazers_count">Count</option>
        </select>
    </div>

    <div class="col-2">
        <a class="btn btn-outline-success" href="#/main">Back to Search</a>
    </div>


</div>

<div>
    <table class="table" border=1>
        <thead>
            <tr>
                <th>Name</th>
                <th>Stars</th>
                <th>Language</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
                <td>{{repo.name}}</td>
                <td>{{repo.stargazers_count | number}}</td>
                <td>{{repo.language}}</td>
            </tr>
        </tbody>

    </table>
   
</div>